
TRAIN_FLAG = True
TEST_FLAG = True
FULL_DATA_FLAG = True
PREV_FRAMES = 10
FUTURE_FRAMES = 5
START_FUTURE = 0
DATA_REDUCTION_RATE = 10
N_TH_FRAME = False
MODEL_NAME = test-2
FRAME_AVG_RATE = 6
DATASET_TYPE = "video"
DATASET_PATH = "../YOLOPv2-1D_Coordinates/train_data/sequential/BDD_1_hour"