TRAIN_FLAG = True
TEST_FLAG = True
FULL_DATA_FLAG = True
PREV_FRAMES = 10
FUTURE_FRAMES = 5
START_FUTURE = 0
DATA_REDUCTION_RATE = 5
N_TH_FRAME = False
MODEL_NAME = CNN_lstm_02
DO_FRAME_AVERAGING = False
DATASET_TYPE = "simple"